requests
beautifulsoup4
lxml
pandas
numpy
nltk
vaderSentiment
scikit-learn
joblib
torch
transformers
datasets
peft
bertopic
sentence-transformers
umap-learn
hdbscan
streamlit
fastapi
uvicorn
matplotlib